h1{
    color: #1d3557;
}
ul{
    list-style: none;
    background-color: #457d9d;
    overflow: hidden; /* para que no se combine con otros elementos */
    margin: 0;
    padding: 0;
}
li{
    float: left; /* cada uno de los elementos se acomodan a la derecha, queda horizontales */
}
li a{ /* elementos que se encuentran dento de lista */
    display: block;
    color: white;
    text-align: center;
    padding: 15px; /* para separacion entre elementos */
    text-decoration: none;

}
li a:hover{
    background-color: #1d3557;
}